body {
  padding: 3em 1em;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  width: 18em;
  perspective: 500px;
}

.card {
  background: linear-gradient(45deg, #9829c8, #4663e9);
  color: #fff;
  padding: 2em;
  width: 18em;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.1s;
}

.card-container:nth-child(2) .card {
  background: url(https://picsum.photos/id/1033/500/600);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-container:nth-child(3) .card {
  background: linear-gradient(45deg, #c86629, #e94646);
}

.card > div {
  position: relative;
  z-index: 1;
}

.card p {
  line-height: 20px;
  margin-top: 2em;
}

.light {
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
  transition: width 0.4s, height 0.4s;
  box-shadow: 0 0 2em rgba(255, 255, 255, 0.2);
  filter: blur(2em);
}

.light-active {
  width: 100%;
  height: 100%;
}
